* {
  margin: 0;
  padding: 0;
}

#logo {
  width: 100px;
  height: 100px;
}

.name {
  position: absolute;
  left: 120px;
  top: 5px;
  width: 13px;
}

.description {
  position: absolute;
  left: 120px;
  top: 50px;
}

ul {
  list-style-type: none;
  margin: 1px;
  padding: 1px;
  overflow: hidden;
  border: 2px solid #e7e7e8;
  background-color: #42abd5;
  width: 100%;
}

li {
  float: left;
  border-right: 2px solid #e7e7e8;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: left;
  padding: 15px 17px;
  text-decoration: none;
}

li a:hover {
  background-color: #001aff;
}

.active {
  background-color: #d61d1d;
}

.carrousel {
  text-align: center;
}

#banner {
  padding-top: 5%;
  height: 400px;
  width: 1100px;
  padding-bottom: 5%;
}

div.post {
  width: 50%;
  margin-bottom: 20px;
  background-color: #42abd5;
  color: #fff;
  padding: 15px;
  float: left;
  display: block;
}

div.post img.izquierda {
  float: left;
  margin-right: 15px;
}

div.reset {
  clear: both;
}

#Btn-Post {
  display: inline-block;
}

#star {
  margin-top: 5%;
  display: inline-block;
}

aside {
  margin-top: 5%;
}

.post-X {
  background-color: #ffffff;
  color: #fff;
  padding: 15px;
  display: block;
  text-align: center;
  float: none;
  margin-top: 0%;
  margin-left: 30px;
}

.post-X2 {
  width: 40%;
  background-color: #42abd5;
  color: #fff;
  padding: 15px;

  float: right;
}

.container {
  margin: 2%;
}

#Btn-Post {
  background-color: #001aff;
}

.btn {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 15px 25px;
  text-decoration: none;
  margin-top: 5%;
}

.btn2 {
  background-color: #7800bd;
  color: rgb(255, 255, 255);
  padding: 15px 25px;
  text-decoration: none;
  margin-top: 5%;
}

.btn:hover {
  background-color: #aab5d4;
}

.btns {
  margin: 5%;
}

#titulo {
  color: black;
}

.video {
  margin-bottom: 5%;
}

h1 {
  margin-bottom: 3%;
}
